<app-nav-menu></app-nav-menu>

<div class="container">
    <div class="row text-center">
        <h2>Estadísticas</h2>
    </div>
    <div class="row">
        <div class="redondo contitulo col-md-4 bg-white">
            <div class="title div-s">
                <span>Top 10 Categorías con más ventas.</span>
            </div>
            <canvas id="myCanvasId" width="auto" >{{ myChart }}</canvas>
        </div>
        <div class="redondo contitulo col-md-5 bg-white">
            <div class="title div-s">
                <span>Restaurantes con más ventas.</span>
            </div>
            <div>
                <canvas id="myChart2" ></canvas>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="redondo contitulo col-md-5 bg-white">
            <div class="title div-s">
                <span>Tiempo promedio de entregas.</span>
            </div>
            <div>
                <canvas id="myChart3" ></canvas>
            </div>
        </div>
        <div class="redondo contitulo col-md-4 bg-white">
            <div class="title div-s">
                <span>Restaurantes mejor calificados.</span>
            </div>
            <div>
                <canvas id="myChart4" ></canvas>                
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>